.caixaPrincipal{
    height: 600px;
    max-width: 700px;
    width: 28%;
    align-content: center;
    margin: 8vh auto;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 10px #dadada;
    flex: 1;
}

#acimaDoInput{
    margin: 25px 0 -6px 10px;
}

form{
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    margin: 0 auto;
}

input, button{
    padding: 12px;
    border: 1px solid #b1b0b0;
    border-radius: 20px;
    font-size: 16px;
}

button{
    background: #667eea;
    color: white;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
    align-self: center;
    width: 200px;
    margin: 40px 0 0 0;
}

button:hover{
    background: #5a67d8;
}