<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
    <header class="header">
        <div class="container header-content">
            <div class="logo-area">
                <a class="logo-icon" href="./index.html">
                    <img src="../image/logo-aba.png">
                </a>
                <div class="logo-text">
                    <span class="logo-title">KLion</span>
                    <span class="logo-subtitle">Seu imposto de Renda, Simples e Seguro.</span>
                </div>
            </div>
            <nav class="nav">
                <ul>
                    <li class="nav-item"><a href="calculadora.html">Calculadora</a></li>
                    <li class="nav-item"><a href="como-funciona.html">Como Funciona</a></li>
                    <li class="nav-item"><a href="sobre.html" >Sobre Nós</a></li>
                    <li class="nav-item"><a href="contato.html" >Contato</a></li>
                    <li class="nav-item"><a href="index.html" >Home</a></li>
                    <li class="nav-item"><a class="loginIcon" href="login.html"><img class="loginImage" width="40" height="40" src="../image/login.png"></a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="caixaPrincipal">
        
    </div>

    <footer class="footer">
        <div class="container footer-content">
            <h3>&copy 2025 - KLion - Cálculo de imposto de renda - Projeto de estudo</h3>
            <p class="footer-note">Este site é um projeto para fins educacionais. Os valores apresentados podem não corresponder exatamente á legislação vigente.</p>
            </div>
        </div>
    </footer>
</body>
</html>