<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>

    <link rel="shortcut icon" type="image/png" href="../image/logo-aba.png">

    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Inter:wght@300;400;500;600&display=swap" rel="stylesheet"/>

    <link rel="stylesheet" href="../CSS/global.css">
    <link rel="stylesheet" href="../CSS/reset.css">
    <link rel="stylesheet" href="../CSS/cadastro.css">

</head>
<body>
    <header class="header">
        <div class="container header-content">
            <div class="logo-area">
                <a class="logo-icon" href="./index.html">
                    <img src="../image/logo-aba.png">
                </a>
                <div class="logo-text">
                    <span class="logo-title">KLion</span>
                    <span class="logo-subtitle">Seu imposto de Renda, Simples e Seguro.</span>
                </div>
            </div>
            <nav class="nav">
                <ul>
                    <li class="nav-item"><a href="calculadora.html">Calculadora</a></li>
                    <li class="nav-item"><a href="como-funciona.html">Como Funciona</a></li>
                    <li class="nav-item"><a href="sobre.html" >Sobre Nós</a></li>
                    <li class="nav-item"><a href="contato.html" >Contato</a></li>
                    <li class="nav-item"><a href="index.html" >Home</a></li>
                    <li class="nav-item"> <a class="loginIcon" href="login.html"><span class="material-symbols-outlined">account_circle</span></a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="caixaPrincipal">
        <h1>Cadastrar</h1>
        <form id="cadastroForm">
            <p id="acimaDoInput">Usuario</p>
            <input type="text" id="usuario" name="usuario" placeholder="Usuario" required>
            <p id="acimaDoInput">E-Mail</p>
            <input type="email" id="email" name="email" placeholder="seuemailaqui@gmail.com" required>
            <p id="acimaDoInput">Senha</p>
            <input type="password" id="password" name="password" placeholder="Senha" required>
            <button type="submit">Cadastrar</button>
        </form>
    </div>

    <footer class="footer">
        <div class="container footer-content">
            <h3>&copy; 2026 - KLion - Cálculo de imposto de renda - Projeto de estudo</h3>
            <p class="footer-note">Este site é um projeto para fins educacionais. Os valores apresentados podem não corresponder exatamente á legislação vigente.</p>
            </div>
        </div>
    </footer>
</body>
</html>